<div fxLayoutAlign="end center" fxFill class="main-div backgorund-img-content">
    <div class="container">
        <div fxLayoutAlign="end center" fxFill>
            <mat-spinner *ngIf="loading" diameter="50"></mat-spinner>
            <mat-card *ngIf="!loading" fxFlex="25" fxFlex.xs="90" fxFlex.sm="50" fxFlex.md="35">
                <img mat-card-image src="/assets/img-app/logo_hidrolatina.png">
                <mat-toolbar class="color-design">HRC AI 2022</mat-toolbar>
                <form [formGroup]="form" (ngSubmit)="login()">
                    <div fxLayoutAlign="stretch" fxLayout="column" class="login-form">
                        <mat-form-field>
                            <input matInput autocomplete="off" formControlName="username" placeholder="Rut">
                        </mat-form-field>
                        
                        <mat-form-field>
                        <input matInput autocomplete="off" formControlName="password" type="password" placeholder="Password">
                        </mat-form-field>

                        <button type="submit" mat-raised-button class="color-design" [disabled]="form.invalid">Ingresar</button>
                    </div>
                </form>
            </mat-card>
        </div>  
    </div>
</div>