<div class="grid">
    <div class="col mt-2">
        <button mat-raised-button color="primary" class="positionButtonRight" [routerLink]="['/users/create']">Agregar usuario</button>
    </div>
</div>
<mat-grid-list cols="1" *ngIf="!users; else divUsers">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #divUsers>
    <div class="grid">
        <div class="col mt-2">
            <p-table [value]="users" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="username">Rut<p-sortIcon field="username"></p-sortIcon></th>
                        <th pSortableColumn="name">Nombre<p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="last_name">Apellido<p-sortIcon field="last_name"></p-sortIcon></th>
                        <th pSortableColumn="email">E-mail<p-sortIcon field="email"></p-sortIcon></th>
                        <th pSortableColumn="last_login">Ultima Conexion<p-sortIcon field="last_login"></p-sortIcon></th>
                        <th >Opciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-users>
                    <tr>
                        <td>{{ users.username }}</td>
                        <td>{{ users.name }}</td>
                        <td>{{ users.last_name }}</td>
                        <td>{{ users.email }}</td>
                        <td>{{ users.last_login }}</td>
                        <td><button mat-raised-button color="primary" [routerLink]="[ '/users', users.id ]">ver</button> / <button mat-raised-button color="primary" [routerLink]="['/users/edit', users.id]">Editar</button></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</ng-template>