<div class="container">
    <mat-toolbar>
        <span>Usuarios</span>
        <span class="spacer"></span>
        <button mat-raised-button color="primary" class="positionButtonRight" [routerLink]="['/dashboard/users/create']">Agregar usuario</button>
    </mat-toolbar>

    <mat-form-field appearance="standard">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
    </mat-form-field>

    <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
  
            <!-- <ng-container matColumnDef="No">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                <td mat-cell *matCellDef="let user; let i = index"> {{i+1}} </td>
            </ng-container> -->

            <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Rut </mat-header-cell>
                <mat-cell *matCellDef="let user"><span class="mobile-label">Rut:</span> {{user.username}} </mat-cell>
              </ng-container>
          
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
              <mat-cell *matCellDef="let user"><span class="mobile-label">Nombre:</span> {{user.name}} </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="last_name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
              <mat-cell *matCellDef="let user"><span class="mobile-label">Apellido:</span> {{user.last_name}} </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </mat-header-cell>
              <mat-cell *matCellDef="let user"><span class="mobile-label">E-mail:</span> {{user.email}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="last_login">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Ultima Conexión </mat-header-cell>
                <mat-cell *matCellDef="let user"><span class="mobile-label">Ultima Conexión:</span> {{user.last_login}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let user">
                    <span class="mobile-label">Acciones:</span>
                    <div style="text-align: right;">
                        <a class="pointer" [routerLink]="['/dashboard/users', user.id]" matTooltip="Ver usuario">
                            <mat-icon>search</mat-icon>
                        </a>
                        <a class="pointer" [routerLink]="['/dashboard/users/edit', user.id]" matTooltip="Editar usuario">
                            <mat-icon>edit</mat-icon>
                        </a>
                        <a class="pointer" (click)="delete(user, user.id)" matTooltip="Eliminar usuario">
                            <mat-icon>delete</mat-icon>
                        </a>
                    </div>
                </mat-cell>
            </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>
    </div>
</div>