/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
    flex: 1 1 auto;
}

.backgorund-img-content {
    background-image: url("/assets/img/background_app.jpg");
    background-size: cover;
    background-position: center;
}

.color-design {
    background: #52b1e0;
    color: #fff;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #52b1e0!important;
}